@import "tailwindcss";

.snowflake {
  position: absolute;
  top: -30px;
  color: rgb(57, 90, 117);
  font-family: Arial, sans-serif;
  opacity: 0.75;
  animation-name: snowfall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes snowfall {
  from {
    transform: translateY(-30px) rotate(0deg);
  }

  to {
    transform: translateY(110vh) rotate(360deg);
  }
}